			
			<!-- ============================ Page Title Start================================== -->
			<div class="hero-banner full bg-cover side-effect" style="background:#02bec9 url(assets/img/about-bg.jpg)no-repeat;" data-overlay="6">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-10">
							
							<h2 class="ipt-title mb-3">Creating the best platform on the market</h2>
							<p class="text-light mb-4">Get more done in less time
                            Our same-day task platform instantly connects you to certified providers to help with minial jobs and errands, so you can be more productive, every day.</p>
							<div class="_ebl_link"> <%= link_to "Get Started", new_request_path, class: 'btn btn-light' %></div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ========================== About Elements ============================= -->
			<section>
				<div class="container">
					<div class="row align-items-center">
								
						<!-- Single Box -->
						<div class="col-lg-6 col-md-6 col-sm-12">
                        <%= image_tag(image_path('about.svg'), class: 'image-fluid') %> 
						</div>
						
						<!-- Single Box -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="about-captione">
								<h6 class="text-blue">About Taskrol</h6>
								<h2>PATO Company Limited<br>Taskrol.</h2>
								<p>We are a business that makes sure households enjoy peace of mind by allocating some minial jobs to certified providers to work for them</p>
								<ul>
									<li>Easy and convenient</li>
									<li>Fast and secured</li>
									<li>Cost effective</li>
								</ul>
							</div>
						</div>
						
					</div>
						
				</div>
			</section>
			<!-- ========================== About Elements ============================= -->
			
			<!-- ========================== About Elements ============================= -->
			<section class="gray-light">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Power of <span class="theme-cl-2">Taskrol</span></h2>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="achievement-wrap">
								<div class="achievement-content">
									<div class="ache-icon purple"><i class="fa fa-bullhorn"></i></div>
									<h4><span class="cto">Over 1000</span></h4>
									<p>Request Made</p>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="achievement-wrap">
								<div class="achievement-content">
									<div class="ache-icon green"><i class="fa fa-user"></i></div>
									<h4><span class="cto">200</span>+</h4>
									<p>Providers</p>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="achievement-wrap">
								<div class="achievement-content">
									<div class="ache-icon yellow"><i class="fa fa-money"></i></div>
									<h4><span class="cto">GH 1</span>K</h4>
									<p>Per Month</p>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="achievement-wrap">
								<div class="achievement-content">
									<div class="ache-icon red"><i class="fa fa-users"></i></div>
									<h4><span class="cto">1</span>K</h4>
									<p>Happy Clients</p>
								</div>
							</div>
						</div>
						
					</div>
						
				</div>
			</section>
			<!-- ========================== About Elements ============================= -->
		
			<!-- ============================ News Updates End ==================================== -->
