<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Frequently Asked Questions</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Is registration free?</h4>
          <p>Yes, registration is free for all but to hire and expert for your work you will need to pay the providers of the service.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Is registration free for Taskers?</h4>
          <p>Registration is free for all but if you want to get a verified badge that will increase your chance of getting hired by client you will pay a token.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Can I pay through mobile money?</h4>
          <p>Payment can be done physically to the tasker(krol) or through mobile money.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">Who is a Krol</h4>
          <p>At Taskrol we have assigen a special name to all our workers which make them unique</p>
        </div>
      </div>
    </div>
  </div>