<section>
				<div class="container">
					<div class="row">
					
						<!-- Blog Detail -->
						<div class="col-lg-8 col-md-12 col-sm-12 col-12">
							<div class="blog-details single-post-item format-standard">
								<div class="post-details">
								
									<div class="post-featured-img">
									</div>
									
									<div class="post-top-meta">
										<ul class="meta-comment-tag">
											<li><a href="#"><span class="icons"><i class="fa fa-map-pin"></i></span>Location</a></li>
										</ul>
									</div>
									<h2 class="post-title">We operate in many locations.</h2>
									<p>
                                      The list of currently operated locations. We striving to start in other locations soon
                                    </p>
									
									
								</div>
							</div>
							
							
							
							
							
							
						</div>
						
						
						<div class="col-lg-4 col-md-12 col-sm-12 col-12">

							<!-- location -->
							<div class="single-widgets widget_category">
								<h4 class="title">Locations</h4>
								<ul>
									<li>East Legon</li>
									<li>University of Ghana</li>
									<li>Cantonment</a>
									</li>Spintex</li>
									<li>Madina</li>
                                    <li>Airport hills</li>
                                    <li>Adenta etc</li>
								</ul>
							</div>
						
						</div>
						
					</div>
				</div>
			</section>