<div class="container">
<div class="card">
<div class="card-title">
       <h4>Taskrol Terms of Service</h4>
  </div>
  <div class="card-body">
  <p>Terms of Service constitute a legally binding agreement between you and Taskrol Company Limited.<br> 
  The use of all personal data you submit to the Taskrol Platform or which we collect about 
  you is governed by our Privacy Policy.</p> 
  <br>
  <h5>A few highlights of these Terms of Service include:</h5>
  <ul>
    <li> You must be at least 18 years old</li>
    <li>Clients are users who request for services on Taskrol.</li>
    <li>Krols are users who submit bids to render services on Taskrol.</li>
    <li>You must avoid bad reviews from either clients or as a tasker (krol)</li>
    <li>Requests are made by a Client to receive bids from a Krol.</li>
    <li>Each Krol is entitled to submit 1 bid per request</li>
    <li>Only registered users may request services and submit bid on Taskrol</li> 
  </ul>
 
  </div>
</div>
</div>