/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .card-title {
    color: #318e87;
    font-weight: 700;
}

.btn.btn-success {
    background-color: #318e87;
}

.btn.btn-primary {
    background-color: #318e87;
}

#cover {
    background-image: url(bn-1.jpg)!important;
    background-repeat: no-repeat;
}

#home-cover {
    height: 600px;
    background-image: url(taskrol-bg)!important;
    background-repeat: no-repeat;
}

#search-bt {
    height: 57px;
    background-color: #318e87;
}

.card-img-top {
    width: 20px;
}

.text-end {
    padding-right: 20px;
    text-align: right!important;
}

#home-card {
    margin-left: 20px;
    margin-bottom: 25px;
}

