		
			<!-- ============================ Page Title Start================================== -->
			<div class="page-title bg-cover" style="background:white;" data-overlay="5">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12"></div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Main Section Start ================================== -->
			<section class="gray-bg pt-4">
				<div class="container-fluid">
					<div class="row m-0">
						
						<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
							<div class="dashboard-navbar overlio-top">
								
								<div class="d-user-avater">
								<%= image_tag(image_path('avatar.png'), class: 'img-fluid rounded') %>
									<h4>Tademe Bless</h4>
									<span>East Legon, Ghana</span>
								</div>
								
								<div class="d-navigation">
									<ul id="metismenu" class="metismenu">
										<li><%= link_to new_request_path, class: 'nav-link' do %>
											<i class="fa fa-trash mr-1"></i>Request plastic pickup
										   <% end %>
										</li>
										<li><a href="reviews.html">Request Options</a></li>
										<li><a href="reviews.html">Categories</a></li>
										<li><a href="#">Log Out</a></li>
									</ul>
								</div>
								
							</div>
						</div>
						
						<!-- Item Wrap Start -->
						<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<!-- Breadcrumbs -->
									<div class="bredcrumb_wrap">
										<nav aria-label="breadcrumb">
										  <ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="#">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
										  </ol>
										</nav>	
									</div>
								</div>
							</div>